/* Header et Footer
-----------------------------------------------------------------------------*/
.header, .footer {
	background: #4682B4;
}


/* Middle
-----------------------------------------------------------------------------*/
.container, .wrapper {
    background-color: #EDF0F8;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	background: #A3B5DB;
}

/* Contenu
-----------------------------------------------------------------------------*/
i, a#footer, a#logout {
    color: #EDF0F8; 
}