/* Header et Footer
-----------------------------------------------------------------------------*/
.header, .footer {
	background: #1c1c1c;
}

/* Middle
-----------------------------------------------------------------------------*/
.wrapper, .container {
    background-color: #696969;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	background: #2b2b2b;
}

/* Contenu
-----------------------------------------------------------------------------*/

text, label, main.content {
    color: #FFFFFF;
}