/* Header
-----------------------------------------------------------------------------*/
.header {
	background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}


/* Middle
-----------------------------------------------------------------------------*/
.container {
    background-color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	background: linear-gradient(to left, orange, red);
}

.left-sidebar:hover {
  color: linear-gradient(to left, orange, red);
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}