/* Header et Footer
-----------------------------------------------------------------------------*/
.header, .footer {
	background: #a65137;
}


/* Middle
-----------------------------------------------------------------------------*/
.container, .wrapper {
    background-color: #EDF0F8;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	background: #d47979;
}

/* Contenu
-----------------------------------------------------------------------------*/
i, a#footer, a#logout {
    color: #EDF0F8; 
}