.wrapper {
	min-width: 300px;
	min-height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header { height: 95px }

/* Middle
-----------------------------------------------------------------------------*/

.left-sidebar { width: 5rem;}
.content { padding: 10px 10px 10px 90px }

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    min-width: 300px;
    font-size: 0.75rem;
    height: 50px;
    margin: -50px auto 0;
}

form{ font-size: 50% }
img { width : 3.5rem }
i{ display: none !important}
div#connexionButton { margin-top: 1.5rem }
div#identifiants { margin-top: 1.5625rem }

text{ margin-top: 1.1875rem }
a#footer{ margin-top: 1.1875rem }

button#leftButton {
    width: 76px;
    height: 76px;
    margin-left: 2px;
    margin-top: 3px;
}

buttonText { display: none }

img#sidebar {
    width: 55px;
    margin-left: 8px;
}

button#logout {
    margin-top: 22.5px;
    width: 50px;
}

img#logout { margin-left: 11px }

logoutText{ display: none }

h1 { font-size: 16px }

label{ font-size: 14px }

c{ margin-left: 0 }

table#table {
    margin-left: 2%;
    font-size: 13px;
}