* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    background-color: #EDF0F8;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 170px;
	background: #4682B4;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
    background-color: #EDF0F8;
}
.content {
	padding: 30px 30px 30px 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
    height: 100%;
	position: fixed;
	background: #A3B5DB;
}

.left-sidebar:hover {
  color: #f1f1f1;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 100px;
	background: #4682B4;
    color: #EDF0F8;
	position: relative;
    font-size: 2em;
}

/* Contenu
-----------------------------------------------------------------------------*/

img { 
    width: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

form#accueil  {
    float: right;
    width: 10rem;
}

i {
    float: right;
    margin-top: 3.75rem;
    margin-right: 1rem;
    font-size: 3rem;
    color: #EDF0F8; 
}

div#connexionButton {
    float: right;
    margin-top: 4rem;
    margin-right: 5%;
}

input#buttonLogin {
    height: 42px;
    border-radius: 6px;
}

div#identifiants {
    font-size: 50%;
    margin-top: 4rem;
    margin-right: 0.5%;
}

text {
    float: right;
    margin-right: 2rem;
    margin-top: 2.5625rem;
}

a#footer {
    float: left;
    margin-left: 2rem;
    margin-top: 2.5625rem;
    text-decoration: none;
    color: #EDF0F8;
    cursor: pointer;
}

button#leftButton {
    width: 240px;
    height: 100px;
    margin-left: 5px;
    margin-top: 4px;
    cursor: pointer;
    border-radius: 10px;
}

buttonText { font-size: 120% }

img#sidebar {
    width: 38px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

button#logout {
    margin-top: 60px;
    margin-right: 10px;
    width: 140px;
    height: 50px;
    float: right;
    cursor: pointer;
    border-radius: 12px;
}

a#logout {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #EDF0F8;
}

img#logout {
    width: 2em;
    float: left;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

logoutText {
    font-size: 16px;
    margin-top: 5px;
}

main.content {
    text-align: center;
    font-size: 20px;
}

select#mois { height: 22px }

input.button1 {
    width: 50px;
    height: 24px;
    border-radius: 6px;
}

label{ font-size: 20px }

c{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 10%;
}

table#table {
    font-size: 16px;
    margin-left: 32%;
}

th {
    width: 200px;
}